<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tiunida.courierapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/kurir_u3_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kurir_u3_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityLogin.View.LoginActivity"></activity>
        <activity
            android:name=".ActivitySplashScreen.SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityOrderDetail.View.DetailOrderActivity" />
        <activity android:name=".ActivityMain.MainActivity"></activity>
    </application>

</manifest>